* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

.column1 {
  background-image: url("./assets/ferns.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 42vw;
}
